* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.card {
    height: 400px;
    width: 550px;
    background-color: #E5E6EF;
    margin: 25px auto;
    border-radius: 22px;
    padding: 8px 12px;

}

.thumbnail {
    height: 300px;
    width: 100%;
    /* background-color: brown; */
    border-radius: 22px;
    background-image: url("..//assets/images/tera-chehra.avif");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.heading-section {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
}

.ri-more-2-line {
    font-size: 20px;
    margin-left: 25px;
}

.description {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    color: gray;
    margin-top: 5px;
}

.team-card {
    height: 450px;
    width: 300px;
    background-color: #F2F2F2;
    margin: 0 auto;
    border: 5px solid #2864D1;
    border-radius: 20px;
    padding: 50px 15px;
    text-align: center;
}

.team-card h2 {
    font-size: 35px;
}

.team-card .profile {
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 20px;
}

.photo {
    height: 100px;
    width: 100px;
    border: 3px solid green;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url("https://avatars.githubusercontent.com/u/115562979?v=4");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.profile h4 {
    margin: 10px 0;
    font-size: 20px;
}

.profile .ri-code-s-slash-line {
    color: orange;
}

.profile p {
    color: grey;
    letter-spacing: 1px;
}